/**
 * You can add global styles to this file,
 * and also import other style files
 */

@import './assets/sass/griditify';
@import './assets/sass/general';

.chat {
    font-size: 0;
}

.chat > * {
    font-size: initial;
}

.test, .test * {
    outline: 1px solid red;
    outline-offset: -1px;
}